Repository gopi-frame/database: changes, and which Codecov flags are due for each by the changed paths.
All: database, mysql, sqlite, postgres, sqlserver

update workflow
  .github/workflows/mysql.yml
Due: none

update workflow
  driver/mysql/driver_test.go
Due: mysql

update workflow
  .codecov.yml
  .github/workflows/go.yml
  driver.go
  driver_test.go
  mock_dialector_test.go
  mock_driver_test.go
Due: database

update README.md
  .github/workflows/go.yml
  README.md
  driver/mysql/README.md
  driver/postgres/README.md
  driver/sqlite/README.md
  driver/sqlserver/README.md
Due: database, mysql, sqlite, postgres, sqlserver

update
  driver.go
  driver/mysql/connector.go
  driver/mysql/connector_test.go
  driver/mysql/driver.go
  driver/postgres/connector.go
  driver/postgres/driver.go
  driver/sqlite/connector.go
  driver/sqlite/driver.go
  driver/sqlserver/connector.go
  driver/sqlserver/driver.go
  exception.go
  helper.go
  manager.go
  mock_driver_test.go
Due: database, mysql, sqlite, postgres, sqlserver

update
  manager.go
Due: database

update
  driver/mysql/go.mod
  driver/mysql/go.sum
Due: mysql

update
  driver/mysql/connector.go
  driver/postgres/connector.go
  driver/sqlite/connector.go
  driver/sqlite/go.mod
  driver/sqlite/go.sum
  driver/sqlserver/connector.go
  driver/sqlserver/go.mod
  driver/sqlserver/go.sum
  go.mod
  go.sum
Due: database, mysql, sqlite, postgres, sqlserver

update
  helper.go
Due: database

Path conditions:
  database: any of: *
  mysql: any of: driver/mysql/*
  sqlite: any of: driver/sqlite/*
  postgres: any of: driver/postgres/*
  sqlserver: any of: driver/sqlserver/*
